{% load static %}
<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8"/>
        <title>Mobike</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="icon" href="{% static 'img/logos.png' %}" />       
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
        <link rel="stylesheet" href="{% static 'css/mainEsc.css' %}">
  
    </head>
    <body background="{% static 'img/foto.jpg' %}">   
         
            <header>
                <div>
                     <img id="logo" src="{% static 'img/logoss.png' %}" alt="logo Mobike"/>Mobike
                     
                </div>
           </header>
           
              <nav>
                    <a href="" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
                   <ul class="menu">
                       <li class="nav"><a href="">Inicio</a></li>
                       <li class="nav"><a href="">Registrate</a></li>
                       <li class="nav"><a href="">Galería</a></li>
                       {% if user.is_authenticated %}
                       <li class="nav"><a href="">Agregar Perro</a></li>
                       {% endif %}
                    </ul>
                    
               </nav>

          
            {% block content %}
            {% endblock %}
            <footer>
                <div class="redes">
                        <img src="{% static 'img/face50.png' %}" alt="facebook icono"  >
                        <img src="{% static 'img/insta50.png' %}" alt="instagram icono" >
                        <img src="{% static 'img/google50.png'%}" alt="google icono" >
                        <img src="{% static 'img/correo50.png'%}" alt="correo icono" >
                    </div>
                &copy; Todos los Derechos Reservados
                    <div class="redes">
              </div>
              
            </footer>
    </body>
</html>    