{% extends 'mobike/index.html' %}
{% load static %}
{% block content %}
<main>
        <img id="inicio-imagen" src="{% static 'img/iniciox.png' %}" alt="bicicleta mobike"> 
     
   <div class="container">  
      <div class="texto">
          <h1 style="text-align: center" >¿Quienes Somos?</h1>
          <p>Imagina que puedes buscar y dejar una bicicleta en el momento y el lugar que sean más convenientes para ti. Forma parte del mundo Mobike: un servicio de uso compartido de bicicletas que te permite realizar recorridos cortos por la ciudad, en cualquier momento, a cualquier destino que tenga un estacionamiento legal, y que combina la innovación y la tecnología actual de Internet de las cosas (IoT). Mobike es una opción ecológica, ayuda a descongestionar el tránsito y busca continuamente mejorar la calidad de vida en la ciudad.</p>
          
        </div>
        <br>
        <div class="texto">
          <h1 style="text-align: center">Misión</h1>
          
              <p>
                Mobike ofrece un medio de transporte accesible de uso compartido para realizar recorridos urbanos cortos de manera práctica. Al mismo tiempo, ayuda a descongestionar el tránsito y reducir las emisiones de carbono en la ciudad. Gracias a la combinación de estos objetivos, Mobike mejora la calidad de vida en la ciudad.</p>
          
        </div>
        <br>
        <img class="quienes" src="{% static 'img/info.jpg' %}" alt="quienes somos imagen"/>
   </div> 
   <br>   
  </main>
  {% endblock %}
